.container {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;

  button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: -10px;
    }

    &:hover,
    &:focus {
      transform: translateY(-10px);
    }
  }

  .theme1 {
    background-color: #e4002b;
    border: 2px solid #c40037;
  }
  .theme2 {
    background-color: #ffdb59;
    border: 2px solid #dbb641;
  }
  .theme3 {
    // background-color: #6474c0;
    // border: 2px solid #4957a5;

    background-color: #8b9ad9;
    border: 2px solid #6474c0;
  }
  .theme4 {
    background-color: #e9ffe8;
    border: 2px solid #a9dbab;
  }
}
