.container {
  padding: 0 3.7rem;
  margin-top: 10px;

  h1 {
    font-size: 100px;
    line-height: 1;
    // color: var(--white);
    color: var(--primary-font-color);
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    transform: translate3d(0px, 0px, 0.1px);
    transform-origin: 70% 70%;

    span {
      pointer-events: none;
      user-select: none;
      img {
        width: 80px;
        animation: wave 2.5s 0.6s;

        @keyframes wave {
          0% {
            transform: rotate(0deg);
          }
          10% {
            transform: rotate(14deg);
          }
          20% {
            transform: rotate(-8deg);
          }
          30% {
            transform: rotate(14deg);
          }
          40% {
            transform: rotate(-4deg);
          }
          50% {
            transform: rotate(10deg);
          }
          60% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  p {
    // color: var(--white);
    color: var(--primary-font-color);
    font-size: 40px;
    margin: 0;
    opacity: 0.85;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  }

  @media screen and (max-width: 700px) {
    padding: 0;
    max-width: calc(100% - 20px);

    h1 {
      font-size: 60px;
      span {
        img {
          width: 50px;
        }
      }
    }

    p {
      font-size: 30px;
    }
  }
}
